.footer {
  min-height: 0;
  background: #E5E5E5;
  position: fixed;
  left: 0;
  bottom: -0px;
  width: 100%;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #B8B8B8;
  text-align: center;
}